@font-face {
  font-family: "font";
  src:url(../fonts/plumb-regular.otf/) format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "font";
  src:url(../fonts/plumb-bold.otf/) format("truetype");
  font-style: normal;
  font-weight: 700;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: font;
  font-size: 15px;
  line-height: 1.5;
}

.content {
  margin: 59px auto;
}

h1, h2, h3 {
  text-align: center;
  margin: 30px 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}

a {
  color: firebrick;
}

.center {
  width: 1500px;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

header .center {
  display: flex;
  justify-content: space-between;
  color: white;
}

header .center nav {
  display: flex;
}
header .center nav a{
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  line-height: 1em;
}

header .center nav a:last-child{
  color: firebrick;
}

header .center nav a:hover{
  color: #bbb;
}

header .center nav a.nuxt-link-exact-active{
  color: #bbb;
}

header .center .header-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 700;
  line-height: 1em;
  padding: 4px 0px;
  box-sizing: border-box;
}
header .center .header-contacts .header-contacts-name {
  font-size: 28px;
  margin: auto;
}
header .center .header-contacts .header-contacts-phone {
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
}
header .center .header-contacts .header-contacts-phone a{
  color: #bbb;
  margin-left: 5px;
}

.content {
  margin-top: 60px;
}

footer {
  padding: 30px 0;
  border-top: 4px solid #000;
}

footer .footer-text {
  display: flex;
}
footer .footer-text .footer-contacts {
  width: 20%;
}
.social {
  display: flex;
}

footer .footer-text .footer-links {
  margin: auto 0;
  flex-grow: 1;
  text-align: right;
}

footer .footer-text .footer-links a{
  color:#000
}

.blog-block {
  display: flex;
  flex-wrap: wrap;
}

.blog-block .blog {
  width: 25%;
}

.blog a {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
}
.blog a img{
  width: 335px;
  height: 222px;
}

.blog a .blog-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3;
  margin-bottom: 2px;
}

.blog a .blog-introtext {
  font-size: 14px;
  color: #0f0f0f;
  line-height: 1.3;
}

.blog a .blog-tag {
  background-color: #ddd;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  padding: 4px;
  display: inline-block;
  margin-top: 6px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li .breadcrumbs-arrow{
  margin: 0 4px;
}

.blog-author-blog {
  margin-bottom: 20px;
}

.yandex-share-block {
  margin-bottom: 20px;
}

.blog-links-block {
  display: flex;
}

.blog-links-block a {
  background-color: #ff5050;
  color: #fff;
  padding: 6px 12px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 16px;
}

.blog-links-block a:last-child {
  margin-right: 0;
}

.blog-links-block a.nuxt-link-exact-active {
  background-color: #0f74a8;
}

.blog-pagination-block {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.blog-pagination-block a {
  background-color: #ff5050;
  color: white;
  padding: 8px 16px;
  font-weight: 700;
  cursor: pointer;
  font-family: font;
}

.blog-pagination-block a:first-child {
  margin-right: 16px;
}

.blog-plus-aside {
  display: flex;
  justify-content: space-between;
}

.blog-plus-aside aside img {
  width: 260px;
  height: 222px;
}

.blog-plus-aside .content {
  width: 80%;
}
.blog-plus-aside aside {
  width: 20%;
}
.blog-plus-aside aside .aside-blog-block {
  display: flex;
  flex-direction: column;
}

.youtube-button {
  background: url("/img/seo-live-button.jpg");
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  height: 66px;
  width: 260px;
  margin: 0 auto;
  color: white;
  text-decoration: none;
}

.youtube-button span {
  width: 64%;
  padding-right: 2%;
  font-size: 16px;
  margin: auto 0;
  line-height: 1.3;
  font-weight: 700;
}

.youtube-button span:hover {
  width: 64%;
  padding-right: 2%;
  font-size: 16px;
  margin: auto 0;
  line-height: 1.3;
  font-weight: 700;
  text-decoration: underline;
}

/*MAIN PAGE*/
@keyframes Gradient {
  0%{background-position: 0 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0 50%}
}
.main-gradient-block {
  display: flex;
  background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  height: 350px;
}

.main-gradient-block h1 {
  margin: auto;
  color: white;
}

.main-plus-block {
  display: flex;
  margin: 60px auto;
}

.main-plus-block .main-plus {
  width: 25%;
  text-align: center;
}

.main-plus-block .main-plus .main-plus-ico {
  width: 64px;
  height: 64px;
  transform: scale(0.8, 0.8);
  display: inline-block;
}

.main-plus-block .main-plus .main-plus-ico-1 {
  background: url(/img/sprites-icons.png) -205px -119px;
}

.main-plus-block .main-plus .main-plus-ico-2 {
  background: url(/img/sprites-icons.png) -1px -1px;
}

.main-plus-block .main-plus .main-plus-ico-3 {
  background: url(/img/sprites-icons.png) -137px -119px;
}

.main-plus-block .main-plus .main-plus-ico-4 {
  background: url(/img/sprites-icons.png) -69px -119px;
}

.main-plus-block .main-plus .main-plus-text {
  text-align: center;
  font-weight: 700;
}

.main-utp-text {
  text-align: center;
  margin: 60px;
}

.clients-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.clients-block img{
  width: 21%;
}

.main-blogs-block {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
}

.main-blogs-block .blog{
  width: 33%;
}
